{
  "useTabs": true,
  "singleQuote": false,
  "trailingComma": "all",
  "printWidth": 100,
  "semi": true,
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-svelte", "prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.svelte",
      "options": {
        "parser": "svelte"
      }
    }
  ],
  "tailwindStylesheet": "./packages/svelte-app/src/app.css"
}
